Dataset/CelebA/img_align_celeba
Dataset/CelebA/main
Dataset/CelebA/train
Dataset/CelebA/val
Dataset/CelebA/identity_CelebA.txt
Results/
!Results/compiled_results.csv
*.jpg
*.png
*.jpeg
*.bmp
*.webp
*.npz
*.npy
*.pth
*.pt
.DS_Store